packages/uow-audit/main/default/flows/UoW_AuditTransaction_UpdateParentLookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Parent_Transaction_to_Collection</name>
        <label>Add Parent Transaction to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>auditTransactionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>parentTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Child_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Transaction</name>
        <label>Set Child Transaction Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>childTransaction.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childTransaction.ParentTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>auditTransactionsForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>childTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Audit_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Record_Vaulues</name>
        <label>Set Parent Record Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentTransaction.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetParentRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>parentTransaction.HasChildTransactions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enqueued_Parent_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Transaction_Completed</name>
        <label>Set Parent Transaction Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parentTransaction.TransactionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>COMPLETED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Parent_Transaction_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Enqueued_Parent_Transaction</name>
        <label>Enqueued Parent Transaction?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Parent_Transaction_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnqueuedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentRecord.TransactionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENQUEUED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Transaction_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Record_needs_updating</name>
        <label>Parent Record needs updating?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Child_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateParentTransactionYes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetParentRecord.HasChildTransactions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetParentRecord.TransactionStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENQUEUED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Record_Vaulues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UoW: Audit Transaction - Update Parent Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UoW: Audit Transaction - Update Parent Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetParentRecord</name>
        <label>Get Parent Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Record_needs_updating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TransactionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentTransactionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UoWAuditTransaction__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HasChildTransactions__c</queriedFields>
        <queriedFields>TransactionStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Audit_Transactions</name>
        <label>Update Audit Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>auditTransactionsForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentTransactionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentTransaction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>UoWAuditTransaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Update_Parent</name>
            <connector>
                <targetReference>GetParentRecord</targetReference>
            </connector>
            <label>Update Parent</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>auditTransactionsForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UoWAuditTransaction__c</objectType>
    </variables>
    <variables>
        <name>childTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UoWAuditTransaction__c</objectType>
    </variables>
    <variables>
        <name>parentTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UoWAuditTransaction__c</objectType>
    </variables>
</Flow>
